<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fakebook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/data.json') }}"></script> -->

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="{{ url_for('static', filename='js/amcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/xy.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/export.css') }}" type="text/css" media="all" />
    <script src="{{ url_for('static', filename='js/light.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/compute_data.js') }}"></script>
</head>
<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="#" class="navbar-brand mr-1"><h2><b>fakebook</b></h2></a>
        </section>
    </header>

    <div class="container">
        <div class="columns">
            <div class="column col-12">
                <h4>The Issue of Fake News</h4>
                <p>Recently, the propagation of fake news through social media has become a rampant issue all around the world. In the Philippines,
                it manifests itself through the spread of unverified reports through various Facebook pages and users, even from popular
                personalities.</p>
                <p>In this day and age, it is therefore important to be aware that they are being spread and also to know what
                characteristics to look out for in spotting fake news articles and pages.</p>
                <p>The scope of the dataset covers all 2017 posts from 11 Facebook pages "carrying fake or unverified contents," based on the
                    CBCP Pastoral Guidelines on the Use of Social Media issued on January 30. The said pages are also included in the
                    <a href="https://www.rappler.com/nation/173832-cbcp-list-websites-fake-news">CBCP’s list of fake news sites.</a>
                </p>
            </div>

            <div class="column col-12">
                <br><br>
            </div>

            <div class="column col-4">
                <br><br><br><br><br><br>
                <h4>Trending Topics</h4>
                <p>Taking a look at the majority of these issues, the most common fake news topics and commonly used words are related to politics. More specifically, the top frequently-used
                words are related to politics and crimes.</p>
            </div>

            <div class="column col-8">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title h5">Number of Occurrences of the 10 Most Frequently Used Words <br> in All Facebook Posts</div>
                        <hr noshade>
                    </div>
                    <div class="card-image">
                        <canvas id="myChart10"></canvas>
                    </div>
                </div>
            </div>

            <div class="column col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title h5">Percentage of Facebook Posts Containing the Most Frequently Used Words</div>
                        <hr noshade>
                        <div class="card-subtitle text-gray">Total no. of posts with messages: 2475</div>
                    </div>
                    <div class="card-image" style="display: flex; flex-wrap: wrap">
                        <div style="width:20%">
                            <canvas id="myChart6"></canvas>
                        </div>
                        <div style="width:20%">
                            <canvas id="myChart4"></canvas>
                        </div>
                        <div style="width:20%">
                            <canvas id="myChart7"></canvas>
                        </div>
                        <div style="width:20%">
                            <canvas id="myChart0"></canvas>
                        </div>
                        <div style="width:20%">
                            <canvas id="myChart3"></canvas>
                        </div>
                        <div style="width:20%">
                            <canvas id="myChart5"></canvas>
                        </div>
                        <div style="width:20%">
                            <canvas id="myChart2"></canvas>
                        </div>
                        <div style="width:20%">
                            <canvas id="myChart1"></canvas>
                        </div>
                        <div style="width:20%">
                            <canvas id="myChart9"></canvas>
                        </div>
                        <div style="width:20%">
                            <canvas id="myChart8"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column col-12">
                <br><br><br>
            </div>

            <div class="column col-8">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title h5">Fake News Articles and their Reactions and Shares</div>
                        <hr noshade>
                    </div>
                    <div class="card-image">
                        <canvas id="scatterChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="column col-4">
                <br><br><br><br><br>
                <h4>Popularity Per Post</h4>
                <p>However, the posts with the highest reach are articles which have nothing to do with politics. In fact, they are not actually
                classified as "fake news" but more appropriately "clickbait."</p>
            </div>

            <div class="column col-12">
                <br><br><br>
            </div>

            <div class="column col-4">
                <br><br><br><br><br><br>
                <h4>What is Clickbait?</h4>
                <p>Clickbait is defined by Merriam-Webster as "something (such as a headline) designed to make readers want to click on a hyperlink especially
                when the link leads to content of dubious value or interest."</p>
            </div>
            <div class="column col-8">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title h5">Total Number of Articles and their Reactions and Shares <br> on Each Fake News Site</div>
                        <hr noshade>
                    </div>
                    <div class="card-image">
                        <canvas id="bubbleChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="column col-12">
                <br><br><br>
            </div>

            <div class="column col-8">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title h5">Top Fake News by
                            <select class="viz-dropdown" id="fake-news">
                                <option class="viz-dropdown-option" value=0>Number of Comments</option>
                                    <option class="viz-dropdown-option" value=1>Number of Shares</option>
                                    <option class="viz-dropdown-option" value=2>Number of Reactions</option>
                                </select><br>
                        </div>
                        <hr noshade>
                    </div>
                    <div class="card-image">
                        <canvas id="top-news"></canvas>
                    </div>
                </div>
            </div>
            <div class="column col-4">
                <br><br><br>
                <h4>Fake News vs. Clickbait</h4>
                <p>The topics that have the most number of shares and reactions are clickbait. Meanwhile, the topics that have the most number
                of comments are related to politics.</p>
                <p>The common trend of pages is there is a majority of posts with steady low reach points and very few yet dominant spikes of
                high reach points. The ones with higher reach points are the clickbait articles.</p>
            </div>
            
            <div class="column col-12">
                <div class="card" height="75%">
                    <div class="card-header">
                        <div class="card-title h5">Monthly Trend of Popular Fake News Articles in 2017</div>
                        <hr noshade>
                    </div>
                    <div class="card-image">
                        <div id="chartdiv"></div>
                    </div>
                </div>
            </div>

            <div class="column col-12">
                <br><br><br>
                <h4>What Does It All Mean?</h4>
                <p>These pages could be a strategy of propaganda. Clickbait headlines are used to gain reach and followers, which gives pages
                an avenue to flood posts on political agenda. This possibility is supported by the fact that there is higher interaction
                with articles that are considered clickbait, but more articles about politics.</p>
                <p>Although clickbait articles garner more attention through reactions and shares, the political posts generate more discussion
                as there are more comments. This means that although the reach may not be as high in terms of number of reactions and shares,
                more people are vocal about their thoughts regarding political issues.</p>
                <p>Disclaimer: This study is limited by available data and criteria for selecting fake news pages. To know more about the methodology
                    and data used, you may check our
                    <a href="https://github.com/beatriceadajar/fake-news/blob/master/Documentation.ipynb">documentation file</a>.
                </p>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
        var dataJson = "{{ url_for('static', filename='data.json') }}";
        var labels = {{ labels | tojson | safe }};
        var title = {{ title | tojson | safe }};
        var data = {{ data | tojson | safe }};
        var message = {{ message | tojson | safe }};
    </script>
    <script src="{{ url_for('static', filename='js/barGraph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scatter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bubble-cat.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bar-word.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pie-word.js') }}"></script>
    <script src="{{ url_for('static', filename='js/trend.js') }}"></script>
</body>
</html>